@include keyframes(bouncedelay) {
  0%, 80%, 100% {
    @include transform(scale(0.0));
  }

  40% {
    @include transform(scale(1.0));
  }
}

.loading {
  text-align: center;
  width: 100%;

  & > div {
    width: 1rem;
    height: 1rem;
    background-color: $cw-gray-40;

    border-radius: 100%;
    display: inline-block;

    @include animation(bouncedelay 1.4s infinite ease-in-out);
    @include animation-fill-mode(both);
  }

  .bounce1 {
    @include animation-delay(-0.32s);
  }

  .bounce2 {
    @include animation-delay(-0.16s);
  }
}
