.detailed-info-body-section-content
  .row.detailed-info-item
    .medium-6.columns.detailed-info-item-label
      = f.label field, class: 'inline', required: false
    .medium-6.columns.detailed-info-item-value
      = f.input field, required: false, label: false
