default: &default
  adapter: postgresql
  host: localhost
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: remote_monitoring_development

test:
  <<: *default
  database: remote_monitoring_test

production:
  <<: *default
  database: remote_monitoring_production
