= link_to '+ Fake weekly "normal flow"', '#',
  class: 'button radius small button-add',
  data: { behavior: 'postFakeFlowData', source: 'weeklyNormalFlow' }
= link_to '+ Fake weekly "red flag"', '#',
  class: 'button radius small button-add',
  data: { behavior: 'postFakeFlowData', source: 'weeklyRedFlag' }
= link_to '+ Fake out-of-band "red flag"', '#',
  class: 'button radius small button-add',
  data: { behavior: 'postFakeFlowData', source: 'outOfBandRedFlag' }
