.page-content
  %header.row
    %h1.medium-12.columns Add New Sensor

  %section.row{ role: 'main' }
    = simple_form_for @sensor, url: sensors_path do |f|
      .medium-12.columns= f.input :deployment_code, as: :string, placeholder: 'e.g. ET.GOH.Q4.09.048.123'
      .medium-12.columns= f.input :imei, as: :string, placeholder: 'e.g. 013949004634711'
      .medium-12.columns= f.submit 'Add', class: 'button radius'
