.field_with_errors {
  input, select {
    margin-bottom: 0;
  }
}

/* Hide whitespace between <select> elements */
div.date {
  font-size: 0;

  select.date {
    font-size: 1rem;

    width: calc((100% - 1rem) / 3);
    margin-right: 0.5rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
