<div class="row">
  <div class="small-12 columns">
    <footer class="detailed-info-footer">
      <a
        class="button secondary radius"
        href="<%= RemoteMonitoring.routes.edit_project_path(id) %>"
        >
        Edit
      </a>
      <a
        class="button secondary radius"
        data-confirm="Are you sure you want to delete project <%= community_name %> (<%= deployment_code %>)?"
        data-method="delete"
        href="<%= RemoteMonitoring.routes.project_path(id) %>"
        rel="nofollow"
        >
        Delete
      </a>
    </footer>
  </div>
</div>